body {
  margin: 0;
  padding: 0;
}

.gallery-container {
  display: flex;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  width: 100vw;

  .gallery-child {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    min-width: 100vw;
    position: relative;
    scroll-snap-align: center;
    width: 100vh;

    .img-cont {
      align-items: center;
      display: flex;
      height: 100vh;
      justify-content: center;
      max-height: 30em;
      max-width: 30em;
      width: 100vw;

      img {
        box-shadow: 0 0.2em 0.5em rgb(0, 0, 0, 0.3);
        max-height: 30em;
        max-width: 30em;
      }
    }
  }
}
